.slot {
    border: 1px solid #9cacaf;
    /* background-color: tomato; */
    background-color: #fcfcfc;
  }

.center {
    margin: auto;
    text-align: center;
}

.textarea {
    width: 95%;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-width: 2px;
    background-color:rgba(0,0,0,0); 
}

.table {
    width: 100%;
}

.ability-score {
    width: 100%;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color:rgba(0,0,0,0); 
}

.skill-score {
    width: 100%;
    margin-right: auto;
    background-color:rgba(0,0,0,0); 
}

.x-large {
    font-size: x-large;
}

.spacing {
    margin-top: 5px;
    margin-bottom: 5px;
}


/* ======= Health Bar ======= */
.health-box {
    background-color: #ccc;
    height: 30px;
    width: 100%;
    margin: 5px;
    border: solid 1px #aaa;
}

.health-bar {
    background-color: #950f06;
    width: inherit;
    height: 28px;
    position: relative;
    transition: width 1s;
}

.health-bar-text {
    text-align: center;
    position: relative;
    bottom: 28px;
    color: white;
}
