.slot {
    border: 1px solid #9cacaf;
    
    background-color: #fcfcfc;
  }

.center {
    margin: auto;
    text-align: center;
}

.textarea {
    width: 95%;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-width: 2px;
    background-color:rgba(0,0,0,0); 
}

.table {
    width: 90%;
}

.ability-score {
    width: 90%;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color:rgba(0,0,0,0); 
}

.skill-score {
    width: 95%;
    margin-right: auto;
    background-color:rgba(0,0,0,0); 
}

.x-large {
    font-size: x-large;
}

.meter { 
    text-align: center;
    width: 100%;
    height: 50px; /* Can be anything */
    position: relative;
    /* background: #555; */
    /* -moz-border-radius: 25px; */
    /* -webkit-border-radius: 25px; */
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    /* box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3); */
}

.meter > span {
    display: block;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(43,194,83);
    background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
    );
    box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
    /* position: relative; */
    /* overflow: hidden; */
}

.health-box {
    background-color: #ccc;
    height: 30px;
    width: 100%;
    margin: 5px;
    border: solid 1px #aaa;
}

.health-bar {
    background-color: #950f06;
    width: inherit;
    height: 28px;
    position: relative;
    transition: width 1s;
}

.health-bar-text {
    text-align: center;
    position: relative;
    bottom: 28px;
    color: white;
}

.vertical-center {
    top: 50%;
}
